:plain
  $('#load-latest').attr('disabled', true);
  $('#messages').html('<div class="alert alert-success alert-dismissible"> \
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close"> \
                          <span aria-hidden="true"> &times</span> \
                        </button> \
                        Zadanie zostało zakolejkowane. \
                      </div');
